swagger: "2.0"
info:
  description: "This is server to expose data for the second-hand marketplace application "
  version: "1.0.0"
  title: "Second Hand"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "rabhatt@syr.edu"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "com.secondhand"
basePath: "/"
tags:
  - name: "item"
    description: "Items in the second hand market"
schemes:
  - "http"
paths:
  /item:
    get:
      tags:
        - "item"
      summary: "Finds items"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "getItemsByUserIds"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "userIds"
          in: "query"
          description: "Items posted by given userIds will be retrieved"
          type: "array"
          items:
            type: "string"
          collectionFormat: "multi"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/GetItemsByUserIdsResponse"
        "400":
          description: "Invalid UserIds value"
definitions:
  GetItemsByUserIdsResponse:
    type: "object"
    properties:
      userIdsToIdsMap:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: "#/definitions/Item"
  Item:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      description:
        type: "string"
      category:
        type: "string"
        description: "Item category"
      addedOn:
        type: "string"
        format: "date-time"
      price:
        type: "number"
        format: "float"
      soldInfo:
        $ref: "#/definitions/SoldInfo"
      userId:
        type: "string"
      resources:
        type: array
        items:
          $ref: "#/definitions/ItemResource"
    xml:
      name: "item"
  SoldInfo:
    type: "object"
    properties:
      itemId:
        type: "integer"
        format: "int64"
      soldAtPrice:
        type: "number"
        format: "float"
      soldOn:
        type: "string"
        format: "date-time"
      soldToUserId:
        type: "string"
  ItemResource:
    type: "object"
    properties:
      name:
        type: "string"
      resourceType:
        type: "string"
        enum:
          - "IMAGE"
          - "VIDEO"
      resourceLink:
        type: "string"